<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Twitter card-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AtmosSerre">
    <meta name="twitter:creator" content="@AtmosSerre">
    <meta name="twitter:title" content="Panier de tomates de <%= username %>">
    <meta name="twitter:description"
          content="Découvrez la serre Atmos en récoltant des tomates parfaites !">
    <meta name="twitter:image"
          content="https://share.atmos-serre.com/<%= id %>/image.png">

    <title>Panier de tomates de <%= username %></title>
</head>
<body>
<img src="/<%= id %>/image.png" alt="Image de panier">
</body>
</html>
