<!doctype html>
<html lang="fr">
<head>
    <script type="text/javascript">
        window.location.href = "https://www.atmos-serre.com/";
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--    Twitter card-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AtmosSerre">
    <meta name="twitter:creator" content="@AtmosSerre">
    <meta name="twitter:title" content="Créez votre panier de tomates 100% bio et local">
    <meta name="twitter:description"
          content="Vous aussi, découvrez la serre Atmos en récoltant des tomates parfaites en un éclair !">
    <meta name="twitter:image:src"
          content="https://share.atmos-serre.com/<%= id %>/image.webp">
    <meta name="twitter:image"
          content="https://share.atmos-serre.com/<%= id %>/image.webp">

    <!--OpenGraph card-->
    <meta property="og:url"              content="https://share.atmos-serre.com/<%= id %>" />
    <meta property="og:title"              content="Créez votre panier de tomates 100% bio et local" />
    <meta property="og:description"        content="Vous aussi, découvrez la serre Atmos en récoltant des tomates parfaites !" />
    <meta property="og:image"              content="https://share.atmos-serre.com/<%= id %>/image.webp" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <title>Créez votre panier de tomates 100% bio et local</title><
</head>
<body>
</body>
</html>
